.backDrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 1000;
    visibility: hidden;
    transition: all 0.5s;
}
.overLay{
    position: absolute;
    z-index: 1500;
    padding: 20px;
    width: 30%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    visibility: hidden;
    transition: visibility 0.5s;

}
.showBackDrop{
    visibility: visible;
    opacity: 0.8;
}


.showOverLay {
    visibility: visible;
}
